
* {
    padding: 0;
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

header {
    max-width: 1024px;

    margin: 0 auto;

    display: flex;
        
    background-color: white;

    justify-content: center;

    align-content: center;

    height: 114px;

    
}



.img_logo {
    padding: 0;    
    margin: auto;
    
    
    
}

.nav {

  margin: auto;
  
     
}



.nav a {
    color: #31543B;
    text-decoration: none;
    font-weight: 700;
    margin-left: 25px;    
    font-size: 16px;
    display: inline-block;

    
}




button {
    margin: auto;
    float: right;    
    background-color: #31543B;
    border: none;
    font-size: 16px;
    border-radius: 60px;
    padding: 16px 26px;
    font-weight: 700;
    
}

button a {
    color: white;
}





.block2 {
   
    position: relative;
    max-width: 722px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;

}

.effect {
    position: absolute;
    width: 507px;
    height: 507px;
    right: 650px;
    border-radius: 507px;
    opacity: 0.13;
    background: var(--color-chat-application-2, #FACC15);
    filter: blur(125px);
}

.block2 h1 {
    
    color: var(--neutral-100, #101010);
    text-align: center;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%; /* 73.6px */
    letter-spacing: -3px;
    padding-bottom: 16px;

}

.block2 p {
    
max-width: 450px;
margin: 0 auto;
color: var(--neutral-60, #757B8A);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 160%;
padding-bottom: 56px;
}

.email {
    width: 371px;
    height: 60px;
    border-radius: 60px;
    background: #F3F4F8;
}

.button {
    
width: 240px;
height: 60px;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 60px;
background: var(--color-tax-software-1, #243D31);
color: var(--neutral-10, #FFF);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 150%; 

}


.block3 {
    display: flex;
    padding: 0;
    position: absolute;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
}



.block4 {
    margin-top: 400px;
    height: 200px;
    background-color: #243D31;
}




.block5 {
    width: 100%;
    margin-top: 0;
    height: 400px;
    background-color: #243D31;
    
}

.block5-inner {
    
    width: 1024px;
    margin: 0 auto;
}

.block5 a {
    
    float: left;
    background-color: #E7FFD8;
    border: none;
    font-size: 16px;
    border-radius: 60px;
    padding: 16px 26px;
    font-weight: 700;
    margin-top: 50px;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    color: #24AA4A;
} 

.block5-inner2 {
    
    width: 33%;
    margin: 0 auto;

}

.block5-inner2 h1 {
    width: 33%;;
    margin: 0 auto;
}

.block5-inner2 blockquote {

    width: 33%;
    margin: 0 auto;
}













